<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../components/global/headers') %>
    <title>Dashboard</title>
</head>
<body>
    <div class="dashboard-container">
        <div class="sidebar">
            <%- include('../components/global/sidebar') %>
        </div>
        <div class="main-container">
            <%- include('../components/global/topbar', {user: currentUser}) %>
            <div class="container-fluid d-content">
                <div class="row">
                </div>
            </div>
        </div>
    </div>
    <%- include('../components/modal') %>
    <%- include('../components/global/loadingPage') %>
</body>
</html>